:root {
  --animate-duration: 1.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  font-size: 18px;
  background-color: white;
}
html{
  scroll-behavior: smooth;
}
p {
  line-height: 1.5;
}
.title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 50px;
}
#contact-btn {
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 7.5px 15px;
  /* background-color: #9f82ff; */
  background-color: #7423ff;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-wrapper svg {
  transform: rotate(-45deg);
  transition: 0.3s ease-out;
  width: 2em;
}
.logo-wrapper svg:hover {
  transform: rotate(0deg);
}
.logo-wrapper .name {
  font-size: 1.5em;
  margin-left: 5px;
  font-weight: bold;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  margin-right: 25px;
  /* transition: 0.3s; */
}
.nav-menu a:hover {
  border-bottom: 2px solid ;
}

/* Menu Icon  */
.menu-icon {
  display: none;
}
.menu-icon svg {
  width: 2em;
}

/* Section */

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}
.section-text-header {
  font-size: 4em;
  margin: 10px 0;
}
.section-content {
  font-size: 1.2em;
  font-family: 400;
  line-height: 1.5;
}

.place-wrapper {
  display: flex;
  align-items: center;
}
.place-wrapper svg {
  width: 2em;
}

.place-wrapper .place {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 5px;
}
.img-wrapper img {
  max-width: 100%;
  width: 560px;
}

.section-text-wrapper,
.img-wrapper {
  width: 560px;
}


/* social links */
.social-links {
  margin: 25px 0;
  display: flex;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
}
.social-links svg {
  width: 2em;
}

/* About */
.about {
  width: 560px;
  margin-bottom: 100px;
  max-width: 100%;
}

.about p {
  font-size: 1.2em;
  margin: 10px 0;
}


/* Services */ 
.services{
  display: flex;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.service-item{
  padding: 25px 12.5px;
  margin: 5px;
  width:277.5px;
  height:277.5px;
  background-color: rgb(255, 255, 255);
  border: 5px solid;
  transition: 1s;
}
.service-item:hover{
  background-color: #ddd;
  transition: 1s;
}



/* Blog */
.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-flow: row wrap;
}
.blog img {
  max-width: 560px;
  width: 100%;
  padding-right: 50px;
}
.blog img,
.content {
  flex: 1 1 50%;
}
.blog-date {
  margin-bottom: 30px;
}
.blog-title {
  cursor: pointer;
  margin-bottom: 15px;
}



/* Footer */
.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo-wrapper .name {
  font-size: 1.2em;
}
.footer-menu a{
  font-size: 1em;
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.footer #contact-footer{
  text-decoration: underline;
}
/* Contact */

form input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form input[type=submit] {
  background-color: #7423ff;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type=submit]:hover {
  background-color: #7423ff;;
}

.contact {
  border-radius: 5px;
  padding: 20px;
}


/* Responsive */
@media only screen and (max-width: 800px) {
  .nav-menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: white;
    transition: 0.3s;
    z-index: 2;
    height: 0;
  }
  .nav-menu.active {
    display: flex;
    transition: 0.3s;
    height: calc(100vh - 100px);
  }
  .nav-menu a {
    padding: 10px 20px;
    margin: 0;
    display: none;
  }
  .nav-menu.active a {
    padding: 10px 20px;
    margin: 0;
    display: block;
  }

  .menu-icon {
    display: block;
  }
  .blog img {
    padding-right: 0;
    max-width: 100%;
  }
  .blog-date{
    margin-top: 30px;
  }
  .footer  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9em;
  }
  .footer .footer-menu{
    margin-bottom:10px;
  }
}

